doctype html
html(lang="en" class="no-js")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title Title
    script.
      document.documentElement.classList.remove("no-js")
      document.documentElement.classList.add("js")
  body
    include includes/vars.pug
    include includes/mixins.pug
    include includes/header.pug

    div
      h1 Hello World
      p This is a paragraph with some text

    +svg("circle", "100", "100")

    +svg("square", "100","100")

    +svg("triangle", "100", "100")

    include includes/footer.pug