doctype html
html(lang="en" class="no-js")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title Title
    script.
      document.documentElement.classList.remove("no-js")
      document.documentElement.classList.add("js")
  body
    include includes/header.pug
    
    .octopus
      h1 Hello World
      p This is a paragraph
    
    include includes/footer.pug